.footer {
    height: 96px;
    margin-top: 130px;
    background-color: #292929;
    padding-left: 109px;
    padding-right: 103px;
}

.footer table {
    width: 100%;
    font-size: 25px;
    height: 96px;
}

.footer table td{
    /*width: 33%;*/
}

.socialIcons img {
    width: 45px;
    padding-left: 22px;
}

.socialIcons {
    text-align: right;
}

.feedback {
    text-align: left;
    color: #38a0ca;
    font-family: "LabGrotesqueWeb-bold";
}

.company {
    color: white;
    font-size: 20px;
}
